<%- include('./partials/header.ejs') %>
<%- include('./nav.ejs')%>

<section>
    <form method="post">
    <table class="table table-bordered w-50 mx-auto table-secondary mt-3 text-center">
        <thead>
            <tr>
                <td colspan="2">Add User Form</td>
           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>User Name </td> <!--(userData.userName )yha pr userData jo hmne bhja h editUser.ejs se aur userName hmara field name h mongodb se -->
                <td> <input type="text" name="unm" value="<%= userData.userName %>"> </td>
            </tr>
            <tr>
                <td>User Email </td>
                <td> <input type="email" name="email" value="<%= userData.email%>"> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pwd" value="<%= userData.password%>"> </td>
            </tr>
            <tr >
                <td colspan="2"><input type="submit" value="Update" name="updateBtn"></td>
            </tr>
        </tbody>
    </table>
    </form>
    <% if(msg){%>
    <p class="alert alert-success w-50 mx-auto"><%= msg%></p>
    <% } %>
</section>

<%-include('./partials/footer.ejs') %>