<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <hr color="navy" size="5px">
    <h1 align = "center">Application2 Home  page</h1>
    <hr color="navy" size="5px">

    <h3>Hyy <%= nme%> kaise ho aap??...</h3>

    <%= arr[3]%>

    <ul>
        <% arr.forEach((num)=>{ %>
            <li><%= num%></li>
            <% }) %>
    </ul>
   
    <ul>
        <%= userData.uid %>
        <%= userData.unm %>
        <%= userData.depar %>
    </ul>
   
    
</body>
</html>